# Exercise 5-2: Get data from an Excel file

In [1]:
import pandas as pd

In [2]:
zip_url = 'https://www.bls.gov/oes/special.requests/oesm18all.zip'

In [3]:
from urllib import request
request.urlretrieve(zip_url, filename='oesm18all.zip')

('oesm18all.zip', <http.client.HTTPMessage at 0x20d676c3c40>)

In [4]:
from zipfile import ZipFile
file_names = list() 
with ZipFile('oesm18all.zip', mode='r') as zip:
    zip.extractall()
    for file in zip.infolist():
        file_names.append(file.filename)
        print(file.filename)

oesm18all/all_data_M_2018.xlsx

In [5]:
jobs = pd.read_excel('oesm18all/all_data_M_2018.xlsx')
jobs.head()

,area,area_title,area_type,naics,naics_title,i_group,own_code,occ_code,occ_title,o_group,...,h_median,h_pct75,h_pct90,a_pct10,a_pct25,a_median,a_pct75,a_pct90,annual,hourly
0,99,U.S.,1,000000,Cross-industry,cross-industry,1235,00-0000,All Occupations,total,...,18.58,30.06,47.31,20690,25740,38640,62510,98410,NaN,NaN
1,99,U.S.,1,000000,Cross-industry,cross-industry,1235,11-0000,Management Occupations,major,...,50.11,72.93,#,49260,70880,104240,151700,#,NaN,NaN
2,99,U.S.,1,000000,Cross-industry,cross-industry,1235,11-1000,Top Executives,minor,...,49.73,78.81,#,43400,66000,103450,163930,#,NaN,NaN
3,99,U.S.,1,000000,Cross-industry,cross-industry,1235,11-1010,Chief Executives,broad,...,91.15,#,#,68360,115960,189600,#,#,NaN,NaN
4,99,U.S.,1,000000,Cross-industry,cross-industry,1235,11-1011,Chief Executives,detailed,...,91.15,#,#,68360,115960,189600,#,#,NaN,NaN