# Exercise 5-4: Get data from a Stata file

In [1]:
import pandas as pd

In [2]:
from urllib import request
zip_url = 'http://gss.norc.org/Documents/stata/gss_stata_with_codebook.zip'
request.urlretrieve(zip_url, filename='gss_stata_with_codebook.zip')

('gss_stata_with_codebook.zip', <http.client.HTTPMessage at 0x281d3383e50>)

In [3]:
from zipfile import ZipFile
with ZipFile('gss_stata_with_codebook.zip', mode='r') as zip:
    zip.extractall() 
    for file in zip.infolist():    
        print(file.filename)

Release Notes 7218.pdf
GSS_Codebook.pdf
GSS7218_R3.DTA

## Build a DataFrame for the metadata

In [4]:
import pyreadstat
gss_stata_filename = 'GSS7218_R3.DTA'

In [5]:
gss_empty, gss_meta = pyreadstat.read_dta(
    gss_stata_filename, 
    metadataonly=True)

In [ ]:
print("Number of columns:", gss_meta.number_columns)
print("Number of rows:", gss_meta.number_rows)
print("Column names:", gss_meta.column_names)

In [7]:
meta_cols=pd.DataFrame(
    data=gss_meta.column_labels,
    index=gss_meta.column_names,
    columns=['description'])
meta_cols

                                 description
year           gss year for this respondent
id                      respondent id number
wrkstat                   labor force status
hrs1        number of hours worked last week
hrs2     number of hours usually work a week
...                                      ...
wtss                         weight variable
wtssnr                       weight variable
wtssall                      weight variable
vstrat                      variance stratum
vpsu          variance primary sampling unit

[6110 rows x 1 columns]

## Read the data into a DataFrame

In [8]:
gss_data = pd.read_stata(gss_stata_filename,
    columns=['year','id','wrkstat','hrs1','hrs2','evwork','wrkslf','wrkgovt'])
gss_data

       year    id           wrkstat hrs1 hrs2 evwork        wrkslf     wrkgovt
0      1972     1  working fulltime  NaN  NaN    NaN  someone else         NaN
1      1972     2           retired  NaN  NaN    yes  someone else         NaN
2      1972     3  working parttime  NaN  NaN    NaN  someone else         NaN
3      1972     4  working fulltime  NaN  NaN    NaN  someone else         NaN
4      1972     5     keeping house  NaN  NaN    yes  someone else         NaN
...     ...   ...               ...  ...  ...    ...           ...         ...
64809  2018  2344  working fulltime   36  NaN    NaN  someone else  government
64810  2018  2345  working parttime   36  NaN    NaN  someone else     private
64811  2018  2346           retired  NaN  NaN    yes  someone else     private
64812  2018  2347           retired  NaN  NaN    yes  someone else     private
64813  2018  2348     keeping house  NaN  NaN    yes  someone else  government

[64814 rows x 8 columns]